<input type="hidden" id="eventID" value="<%= @event.id %>">
<%= form_for [:admin, @event], html: { multipart: true } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this admin_article from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-9">

    <div class="row">
      
      <div class="col-md-9">      
        <div class="form-group">
          <%= f.label :title, 'Tittel', :class => "" %>
          <%= f.text_field :title, :class => 'form-control', :placeholder => "Tittel" %>
        </div>
      </div>
 
      <div class="col-md-3">
        <div class="form-group" id="data_0">
          <%= f.label :date, 'Dato', :class => "" %>
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <%= f.text_field :date, :class => 'form-control' %>
          </div>
        </div>
      
      </div>  
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :category_id, 'Kategori', :class => "" %>
          <%= f.select :category_id, Category.all.collect {|c| [c.title, c.id]}, {prompt: 'Velg kategori'}, :class => "form-control" %>
        </div>        
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :tag_ids, 'Tags', :class => "" %>
          <%= f.select :tag_ids, Tag.all.collect {|t| [t.name, t.id]}, {prompt: ''}, multiple: :true, :class => "form-control chosen-select info" %>
        </div>             
      </div>
    </div>
    <div class="form-group">
      <%= f.label :summary, 'Ingress' %><br>
      <%= f.text_area :summary, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :content, 'Brødtekst' %><br>
      <%= f.text_area :content, :class => "summernote" %>
    </div>

 

  </div>
 
  <!-- aside right-->
  <div class="col-sm-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= f.submit 'Lagre', :class => "btn btn-primary btn-block" %>
      </div>
      <div class="panel-body">
        <div class="checkbox checkbox-primary">
          <%= f.check_box :publish, :class => "" %>
          <%= f.label :publish, 'Publisere' %>
        </div>
      </div>

      <div class="panel-footer">
        <span class="text-muted small">
          Publisert av: <% if @event.organization.present? %><%= @event.organization.name %><% end %><br>
          Opprettet: <%= @event.created_at.to_s(:long) if @event.created_at? %><br>
          Sist oppdatert: <%= @event.updated_at.to_s(:long) if @event.updated_at? %>
        </span> 
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Hovedbilde
      </div>
      <div class="panel-body">
      
        <div class="img-responsive" id="image-holder">
          <%= image_tag @event.image_url(:thumb) if @event.image?%>
        </div>
      
      </div>
      <div class="panel-footer">
        <%= f.label :image, :class => "btn btn-info btn-block" do %>
          <%= f.file_field :image, :class => 'hide'%>Velg bilde
        <% end %>  
      </div>  
    </div>

   <div class="panel panel-default">
    <div class="panel-heading">
        Plassering på kartet
    </div>
    <div class="panel-body">
        <div class="form-group">
          <%= f.label :location, 'Sted', :class => "" %>
          <%= f.text_field :location, :class => 'form-control', :placeholder => "Sted" %>
        </div>
        <div class="form-group">
          <%= f.label :lng, 'Lengdegrad', :class => "" %>
          <%= f.text_field :lng, :class => 'form-control', :placeholder => "Lengdegrad" %>
        </div>
        <div class="form-group">
          <%= f.label :lat, 'Breddegrad', :class => "" %>
          <%= f.text_field :lat, :class => 'form-control', :placeholder => "Breddegrad" %>
        </div>

    </div>
    <div class="panel-footer">
      
    </div>  
  </div>    

  <div class="panel-body">     
    <div class="panel-heading">Google Maps</div>
    <div id="map" style="display:block:width:100%;height:350px;margin:0;">

    </div>
  </div>


  <% end %>
   <div class="panel panel-default">
    <div class="panel-heading">
     
    </div>
    <div class="panel-body">
        <table>
 
        </table>
    </div>
    <div class="panel-footer">
     
    </div>  
  </div>

  </div>
  
<script type="text/javascript">
        $("#image-size").ionRangeSlider({
          min: 100,
          max: 1000,
          from: 550
      });
      </script>
<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 400,
      tabsize: 4,
      toolbar: [
                 ["style", ["style"]],
                 ["style", ["bold", "italic", "underline", "clear"]],
                 ["table", ["table"]],
                 ["para", ["ul", "ol", "paragraph"]],
              
                 ['insert', ['videoAttributes']],  
                 ['insert', ['link']],  
                 ['insert', ['hr']]  
             ],        
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#event_image").on('change', function() {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
          if (typeof(FileReader) != "undefined") {
            //loop for each file selected for uploaded.
            for (var i = 0; i < countFiles; i++) 
            {
              var reader = new FileReader();
              reader.onload = function(e) {
                $("<img />", {
                  "src": e.target.result,
                  "class": "thumb-image"
                }).appendTo(image_holder);
              }
              image_holder.show();
              reader.readAsDataURL($(this)[0].files[i]);
            }
          } else {
            alert("This browser does not support FileReader.");
          }
        } else {
          alert("Pls select only images");
        }
      });
    });
  </script>
<script type="text/javascript">
 $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

   $('#data_2 .input-group.date').datepicker({
      startView: 1,
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      format: "dd/mm/yyyy"
  });


   var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, ingenting funnet!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_GEwouXTQg2YWEavFAE3R4uZpouYiK0U
&callback=initMap"
    async defer>
  </script>
  <script type="text/javascript">

      function initMap() {
        var aktiv = {lat: 62.740057, lng: 7.155903};

        var map = new google.maps.Map(document.getElementById('map'), {
          center: aktiv,
          zoom: 10
        });

        var infowindow = new google.maps.InfoWindow({
          content: '<%= @event.summary.html_safe if @event.summary? %>'
        });

        var marker = new google.maps.Marker({
          map: map,
          position: {lat:<%= @event.lat %>, lng:<%= @event.lng %>},
          title: '<%= @event.title %>'

        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });        
      }

  </script>
