     <section class="section-padding">
        <div class="section-title text-center mb-5">
            <h2>Siste aktiviteter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="container">
            <div class="row">
            	<% @events.each do |event| %>
               	<div class="col-lg-4 col-md-4">
                  	<div class="card card-list">
                     	<a href="#">
                        	<span class="badge badge-success"><%= event.date %></span>
                        	<%= image_tag event.image.url(:medium), :class => "card-img-top" if event.image? %>
                        	<div class="card-body">
                           		<h5 class="card-title"><%= event.title %></h5>
                           		<h6 class="card-subtitle mb-2 text-muted">			      		
                           			<%= event.summary %>
			      				</h6>
			      				<p><strong><i class="fa fa-map-marker-alt"></i> <%= event.location %></strong></p>
                        	</div>
                        	<div class="card-footer">
                       			<% event.tags.each do |tag| %>
		        					<%= link_to tag.name, events_path(tag: tag.name), :class => '' %>
		      					<% end %>
                        	</div>
                     	</a>
                  	</div>
               	</div>
               	<% end %>
            </div>
        </div>
    </section>

    <section class="section-padding">
    	<div id="map" style="width:100%;height:500px;"></div>
    </section>

 <script type="text/javascript">

      function initMap() {
        var aktivstart = {lat: 62.781133, lng: 7.305240};

        var map = new google.maps.Map(document.getElementById('map'), {
          center: aktivstart,
          zoom: 11
        });

        <% @events.each do |event| %>
          var infowindow<%= event.id %> = new google.maps.InfoWindow({
            content: '<h3><%= event.title %></h3><%= event.summary %>'
          });

        // Create a marker and set its position.
          var marker<%= event.id %> = new google.maps.Marker({
            map: map,
            position: {lat:<%= event.lat %>, lng:<%= event.lng %>},
            title: '<%= event.title %>',
            icon: {
              url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
              labelOrigin: new google.maps.Point(20, 38),
              size: new google.maps.Size(32,32),
              anchor: new google.maps.Point(16,32)
            },
            label: {
              text: "<%= event.title %>"
            }

          });
          marker<%= event.id %>.addListener('click', function() {
            infowindow<%= event.id %>.open(map, marker<%= event.id %>);
          });   
        <% end %>     
      }

  </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_GEwouXTQg2YWEavFAE3R4uZpouYiK0U&callback=initMap" async defer></script>